*
{
    margin: 0;
    padding: 0;

}
body{
    background-image: url("cseandece1.png");
    background-repeat: no-repeat;
    background-size:730px;
}
.reading-hall
{
    position:absolute;
    top: 15vh;
    left:40vw;

}
/* colours Modal */
.modal-header {
    background-color: #343a40; /* Dark Gray */
    color: #ffffff; /* White */
  }
  
  .modal-footer {
    background-color: #f8f9fa; /* Lighter Gray */
  }
  
  .modal-content {
    background-color: #ffffff; /* White */
    color: #333333; /* Dark Gray */
  }
