*
{
    margin: 0;
    padding: 0;

}
body{
    background-image: url("cseandece1.png");
    background-repeat: no-repeat;
    background-size:730px;
}
.reading-hall
{
    position:absolute;
    top: 15vh;
    left:40vw;

}

