*
{
    margin: 0;
    padding: 0;
    
}
.bgimg
{
    height: 600px;
}
.ec201
{
    position:absolute;
    top: 100px;
    left:30px;
    color:red;


}
.me201
{
    position:absolute;
    top: 100px;
    left:180px;
    color:red;

}
.washroom
{
    position:absolute;
    top: 100px;
    left:280px;
    color:red;


}
.washroom1
{
    position:absolute;
    top: 380px;
    left:250px;
    color:red;


}
.cs201
{
    position:absolute;
    top: 100px;
    left:550px;
    color:red;


}
.cs202
{
    position:absolute;
    top: 100px;
    left:740px;
    color:red;


}
.lift
{
    position:absolute;
    top: 40px;
    left:390px;
    color:red;


}
.digitalcircuitlab
{
    position:absolute;
    top: 400px;
    left:20px;
    color:red;


}
.lift1
{
    position:absolute;
    top: 360px;
    left:450px;
    color:red;


}
.analogcircuitlab
{
    position:absolute;
    top: 380px;
    left:130px;
    color:red;


}
.electricdesignlab
{
    position:absolute;
    top: 380px;
    left:540px;
    color:red;


}
.rfandmicrowavelab
{
    position:absolute;
    top: 380px;
    left:600px;
    color:red;


}
.communicationlab
{
    position:absolute;
    top: 380px;
    left:830px;
    color:red;


}
.lab5g
{
    position:absolute;
    top: 380px;
    left:770px;
    color:red;


}



