*
{
    margin: 0;
    padding: 0;

}
body{
    background-image: url("playground.png");
    background-repeat: no-repeat;
    background-size:100vh;
}

.svbp
{
    position: absolute;
    left: 13vw;
    top: 10vh;
    
}
.vbg{
    position: absolute;
        top: 59vh;
        left: 355px;
}
.vbg2{
    position: absolute;
    font-size: .9em;
    top: 66vh;
    left: 525px;
}
.basketball{
    position: absolute;
    top: 64vh;
    left: 100px;
}
.multi{
    position: absolute;
    top: 85vh;
    left: 70px;
}
.tennis{
    position: absolute;
    top: 85vh;
    left: 355px;
}
.cpg{
    position: absolute;
    top: 51vh;
    left: 525px;
}
.lawn{
    position: absolute;
    top: 45vh;
    left: 100px;
    font-size: large;
}
.st{
    position: absolute;
    top: 50vh;
    left: 332px;
    font-size: 15px;
}
.kc{
    position: absolute;
    top: 42vh;
    left: 340px;
}
