*
{
    margin: 0;
    padding: 0;

}
body{
    background-image: url("playground.png");
    background-repeat: no-repeat;
    background-size:100vh;
}

.svbp
{
    position: absolute;
    left: 13vw;
    top: 10vh;
    
}