* {
    padding: 0px;
    margin: 0px;
}
:root {
    --primary-color: #729115;
    --secondary-color: #789c87;
    --navbar-background: #711414;
    --navbar-text-color: #ffffff;
  }
body {
    background-color: var(--primary-color);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    position: sticky;
    top: 0px;
    background-color: var(--navbar-background);
    color: var(--navbar-text-color);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.nav_ol {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav_ol_1 {
    margin: 0px 5px;
}

.nav_ol_2 {
    margin-left: 50px;
}

main {
    height: 100vh;
    width: 75vw;
    float: right;
    padding-left: 20px;
    margin-top: 15px;
    text-align: center;
}

.maps {
    width: 70vw;
    height: 90vh;

}

#searchBox {
    border: none;
    font-size: large;
    border-radius: 5px;
    background-color: #eadad3;
    width: 10vw;
}

.searchBtn {
    cursor: pointer;
}
#mainBlock
{
    display: flex;
}
#asideHead
{
    font-size: larger;
    color:white;
    text-shadow: 1px 1px 10px #111;
    
}
aside
{
    padding: 10px 20px;
    border-right: 2px solid brown;
}
#asideList
{
    list-style: none;
}
.container{
    max-width:200px;
    background:var(--secondary-color);
    margin:40px auto;
    padding:10px 0px 20px 0px;
    border:1px solid #111;
    border-radius:4px;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75);
 }
 .link{
    font-size:16px;
    font-weight:300;
    text-align:center;
    color: white;
    position:relative;
    height:40px;
    line-height:40px;
    margin-top:10px;
    overflow:hidden;
    width:90%;
    margin-left:5%;
    cursor:pointer;
 }
 .link:after{
    content: '';
    position:absolute;
    width:80%;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
    bottom:50%;
    left:-100%;
    transition-delay: all 0.5s;
    transition: all 0.5s;
    
 }
 .link:hover:after,
 .link.hover:after{
    left:100%;
    
 }
 .link .text{
    text-shadow:0px -40px 0px rgba(255, 255, 255, 1);
    transition:all 0.75s;
    transform:translateY(100%) translateZ(0);
    transition-delay:all 0.25s;
    color: white;
 }
 .link:hover .text,
 .link.hover .text{
    text-shadow:0px -40px 0px rgba(255, 255, 255, 0);
    transform:translateY(0%) translateZ(0) scale(1.1);
    font-weight:600;
 }