.nav{
  justify-content: center;
  background-color:#FC8019 ;
  padding: 10px;
}
#myInput{
border:2px solid black;
border-radius: 20px;
}
#btn{
    display: inline-block;
    border-radius: 3px;
    background:linear-gradient(50deg,hsl(199, 65%, 48%),hsl(161, 80%, 63%));
    border-radius: 20px; 
    padding: 10px 20px;
    color: white;
    margin-left: 4px;
    margin-bottom: 2px;
}
.htext{
  background-color: #FC8019;
  margin: 0px;
}
input[type="search"] {
  padding-left: 10px;
}
.nav1{
  position: sticky;
  top:0px;
}
body::-webkit-scrollbar{
  scrollbar-width: none;
}
.table-dark{
  position: sticky;
  top:100px;
}
tr{
  z-index: 10;
}
tr:nth-child(odd) {
  background-color: #b3b3b3; 
}

tr:nth-child(even) {
  background-color: #ffffff; 
}
tr:hover{
  background-color: #818181;
  cursor: pointer;
}
h1{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal; 
}
