*
{
    margin: 0;
    padding: 0;

}
.bgimg
{
    height:600px;
}
.library{
    position: absolute;
    bottom:0px;
    display:inline-block;
}
.LIFT {
    position: absolute;
    top: 190px;
    left: 87px;
    font-weight: bold;
}

.HODMECH {
    position: absolute;
    top: 60px;
    left: 15px;
    font-weight: bold;
}

.COMPUTATIONALLAB {
    position: absolute;
    top: 180px;
    left: 538px;
    font-weight: bold;
    font-size: 10px;
}

.DREAMSLAB {
    position: absolute;
    top: 180px;
    left: 697px;
    font-weight: bold;
    font-size: 10px;
}

.WASHROOM {
    position: absolute;
    top: 141px;
    left: 957px;
    font-weight: bold;
    font-size: 20px;
}

.STAFFROOM {
    position: absolute;
    top: 107px;
    left: 260px;
    font-weight: bold;
    font-size: 20px;
}    
