*
{
    margin: 0;
    padding: 0;

}
.bgimg
{
    height:600px;
}
.library{
    position: absolute;
    bottom:0px;
    display:inline-block;
}
.LIFT {
    position: absolute;
    top: 239px;
    left: 87px;
    font-weight: bold;
}

.HODMECH {
    position: absolute;
    top: 60px;
    left: 15px;
    font-weight: bold;
}

.COMPUTATIONALLAB {
    position: absolute;
    top: 123px;
    left: 646px;
    font-weight: bold;
    font-size: 10px;
}

.DREAMSLAB {
    position: absolute;
    top: 180px;
    left: 812px;
    font-weight: bold;
    font-size: 10px; 
}

.WASHROOM {
    position: absolute;
    top: 141px;
    left: 1150px;
    font-weight: bold;
    font-size: 20px;
}

.STAFFROOM {
    position: absolute;
    top: 127px;
    left: 337px;
    font-weight: bold;
    font-size: 20px;
}    
